@font-face {
  font-family: K2Dsemi;
  src: url(fonts/K2D-SemiBold.ttf);
}
@font-face {
  font-family: K2Dbold;
  src: url(fonts/K2D-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: K2Dsemi;
}

html {
  height: 100%;
}

/* Animaciones */
@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0%;
    transform: translateX(-3vw);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0%;
    transform: translateX(-3vw);
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeRight {
  0% {
    opacity: 0%;
    transform: translateX(3vw);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0%;
    transform: translateX(3vw);
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 100%;
  }
}
/* Variables */
/* Mixins */
/* Mapping */
body {
  background-image: url("img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Media Queries */
/* Start Navbar */
#logo {
  color: #66fcf1;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#logo :hover {
  color: #C5C6C8;
  transform: scale(1.1, 1.1);
  transition: transform 0.8s;
}

#mynavbar {
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#mynavbar ul li a {
  color: #C5C6C8;
  text-decoration: underline;
  -webkit-text-decoration-color: #66fcf1;
          text-decoration-color: #66fcf1;
  text-underline-offset: 10px;
  font-size: 140%;
}
#mynavbar a:visited {
  font-family: K2Dsemi;
  color: #C5C6C8;
  text-decoration: none;
}
#mynavbar a:hover {
  font-family: K2Dsemi;
  color: #46A29F;
  text-decoration: none;
}
#mynavbar a:hover,
#mynavbar :active {
  font-family: K2Dsemi;
  color: #46A29F;
  text-decoration: none;
}

/* End Navbar */
/* Start Aside1 (redes) */
#social ul {
  position: fixed;
  display: block;
  list-style: none;
  bottom: 3vw;
  left: 2.5vw;
  /* End Aside1 (redes) */
}
#social ul li {
  margin-top: 15px;
}

/* Start Aside2 (correo) */
#email a {
  font-family: K2Dsemi;
  font-size: 1.5vw;
  color: #66fcf1;
  text-decoration: none;
  position: fixed;
  transform: rotate(-90deg);
  bottom: 13vw;
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* End Aside2 (correo) */
/* Start Intro */
#intro .intro {
  position: relative;
  width: 70vw;
  height: 36vh;
  top: 10vh;
  left: -2.5vw;
}

#intro p {
  color: #C5C6C8;
  font-family: K2Dsemi;
  font-size: 36px;
  justify-content: center;
}

#intro .parrafoUp {
  color: #C5C6C8;
}

#intro .parrafoMid {
  color: #46A29F;
}

#intro .parrafoBott {
  color: #C5C6C8;
}

#intro .parrafoUp {
  margin: 0px;
  padding: 0px;
  font-size: 3vw;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#intro .parrafoMid {
  font-family: K2Dbold;
  font-size: 8.7vw;
  text-align: left;
  margin: 0px;
  padding: 0%;
  border: 0%;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#intro .parrafoBott {
  margin: 0px;
  margin-top: 20px;
  font-size: 3vw;
  float: right;
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* End Intro */
/* Start AboutMe */
#text-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#text-img .textAboutMe {
  width: 300px;
  height: 400px;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin: 40px;
}
#text-img .textAboutMe .bodyTexto {
  font-family: K2Dsemi;
  font-size: 118%;
  color: #C5C6C8;
}
#text-img .imgAboutMe {
  width: 300px;
  height: 400px;
  margin: 1px;
  border: 0.2vw solid #C5C6C8;
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin: 40px;
}
#text-img .imgAboutMe .bodyFoto {
  width: 300;
  height: 400px;
  transform: translate(1vw, 1vw);
}
#text-img .imgAboutMe .bodyFoto:hover {
  transform: translate(1vw, 1vw);
  transform: scale(1.1, 1.1);
  transition: 1.5s;
  filter: sepia(38%) saturate(567%) hue-rotate(129deg) brightness(89%) contrast(83%) !important;
}

/* End AboutMe */
/* Start Trajectory */
#life {
  padding-top: 5vw !important;
  padding-bottom: 5vw !important;
}
#life .thing1 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: left;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing1 p {
  margin-right: 2vw;
  width: 20vw;
  font-size: 2vw;
  color: #C5C6C8;
}
#life .thing1 {
  display: flex;
  justify-content: right;
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing2 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: left;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing2 p {
  margin-right: 2vw;
  width: 20vw;
  font-size: 2vw;
  color: #C5C6C8;
}
#life .thing3 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: left;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing3 p {
  margin-right: 2vw;
  width: 20vw;
  font-size: 2vw;
  color: #C5C6C8;
}
#life .thing3 {
  display: flex;
  justify-content: right;
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing4 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: left;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing4 p {
  margin-right: 2vw;
  width: 20vw;
  font-size: 2vw;
  color: #C5C6C8;
}
#life .thing5 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: left;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing5 p {
  margin-right: 2vw;
  width: 20vw;
  font-size: 2vw;
  color: #C5C6C8;
}
#life .thing5 {
  display: flex;
  justify-content: right;
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing6 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: left;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing6 p {
  margin-right: 2vw;
  width: 20vw;
  font-size: 2vw;
  color: #C5C6C8;
}
#life .thing7 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: left;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing7 p {
  margin-right: 2vw;
  width: 20vw;
  font-size: 2vw;
  color: #C5C6C8;
}
#life .thing7 {
  display: flex;
  justify-content: right;
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing8 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: left;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing8 p {
  margin-right: 2vw;
  width: 20vw;
  font-size: 2vw;
  color: #C5C6C8;
}
#life .thing9 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: left;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#life .thing9 p {
  margin-right: 2vw;
  width: 20vw;
  font-size: 2vw;
  color: #C5C6C8;
}
#life .thing9 {
  display: flex;
  justify-content: right;
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* End Trajectory */
/* Start Projects */
#projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#projects img {
  margin: 20px;
  margin-top: 120px;
  margin-bottom: 100px;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#projects img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
  filter: invert(40%) sepia(38%) saturate(567%) hue-rotate(129deg) brightness(89%) contrast(83%);
}
#projects h3 {
  color: #46A29F;
}
#projects .explain {
  display: block;
}
#projects .explain .explainHack {
  width: 500px;
  height: 400px;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}
#projects .explain .explainHack p {
  font-family: K2Dsemi;
  font-size: 118%;
  color: #C5C6C8;
}
#projects .explain .explainMemento {
  width: 500px;
  height: 400px;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin: 40px;
  margin-top: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}
#projects .explain .explainMemento p {
  font-family: K2Dsemi;
  font-size: 118%;
  color: #C5C6C8;
}
#projects .explain .explainPokemon {
  width: 500px;
  height: 400px;
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin: 40px;
  margin-top: 200px;
  margin-bottom: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}
#projects .explain .explainPokemon p {
  font-family: K2Dsemi;
  font-size: 118%;
  color: #C5C6C8;
}

/* End Projects */
/* Start Contact */
#form {
  margin: 0%;
  padding-bottom: 5vw !important;
}
#form h2 {
  font-family: K2Dsemi;
  font-size: 2.5vw;
  color: #C5C6C8;
}
#form input {
  font-family: K2Dsemi;
  font-size: 2vw;
  margin-right: 15px;
  margin-bottom: 30px;
  color: #C5C6C8;
  border-color: #66fcf1;
  border-top: #66fcf1;
  border-left: #66fcf1;
  border-right: #66fcf1;
  background: transparent;
}
#form input ::-moz-placeholder {
  font-family: K2Dsemi;
  border-color: #46A29F;
  font-size: 2vw;
  color: #46A29F;
}
#form input :-ms-input-placeholder {
  font-family: K2Dsemi;
  border-color: #46A29F;
  font-size: 2vw;
  color: #46A29F;
}
#form input ::placeholder {
  font-family: K2Dsemi;
  border-color: #46A29F;
  font-size: 2vw;
  color: #46A29F;
}
#form #cont-name {
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#form #cont-email {
  -webkit-animation-name: fadeLeft;
          animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#form #cont-duda, #form button {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#form textarea {
  margin-top: 0px;
  font-family: K2Dsemi;
  font-size: 2vw;
  color: #C5C6C8;
  border-color: #66fcf1;
  background: transparent;
}
#form textarea ::-moz-placeholder {
  color: #46A29F;
  font-family: K2Dsemi;
  font-size: 2vw;
  padding: 10px;
}
#form textarea :-ms-input-placeholder {
  color: #46A29F;
  font-family: K2Dsemi;
  font-size: 2vw;
  padding: 10px;
}
#form textarea ::placeholder {
  color: #46A29F;
  font-family: K2Dsemi;
  font-size: 2vw;
  padding: 10px;
}
#form button {
  background-color: #46A29F;
  color: white;
  font-size: 2vw;
  width: 20vw;
}
#form button:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}

/* End Contact */
@media only screen and (max-width: 575px) {
  #intro {
    position: fixed;
    left: 18vw;
  }
  #intro .parrafoMid {
    font-size: 16vw;
  }
  #intro .parrafoUp {
    font-size: 3.4vw;
  }
  #intro .parrafoBott {
    font-size: 3.4vw;
  }
  #social ul {
    display: none;
  }
  #email a {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  #life {
    padding: 10vw !important;
  }
}
@media only screen and (max-width: 800px) {
  #intro .parrafoMid {
    font-size: 16vw;
  }
  #intro .parrafoUp {
    font-size: 3.4vw;
  }
  #intro .parrafoBott {
    font-size: 3.4vw;
  }
  #social ul {
    display: none;
  }
  #email a {
    display: none;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1500px) {
  #form {
    margin: 0%;
  }
  #form h2 {
    font-size: 3.5vw;
  }
  #form input {
    font-size: 3vw;
  }
  #form input ::-moz-placeholder {
    font-size: 3vw;
  }
  #form input :-ms-input-placeholder {
    font-size: 3vw;
  }
  #form input ::placeholder {
    font-size: 3vw;
  }
  #form textarea {
    font-size: 3vw;
    height: 37vh;
  }
  #form textarea ::-moz-placeholder {
    font-size: 3vw;
  }
  #form textarea :-ms-input-placeholder {
    font-size: 3vw;
  }
  #form textarea ::placeholder {
    font-size: 3vw;
  }
  #form button {
    font-size: 3vw;
    width: 20vw;
  }
}
@media only screen and (min-width: 400px) and (max-width: 799px) {
  #form {
    margin: 0%;
  }
  #form h2 {
    font-size: 4.5vw;
  }
  #form input {
    font-size: 4vw;
  }
  #form input ::-moz-placeholder {
    font-size: 4vw;
  }
  #form input :-ms-input-placeholder {
    font-size: 4vw;
  }
  #form input ::placeholder {
    font-size: 4vw;
  }
  #form textarea {
    font-size: 4vw;
    height: 55vh;
  }
  #form textarea ::-moz-placeholder {
    font-size: 4vw;
  }
  #form textarea :-ms-input-placeholder {
    font-size: 4vw;
  }
  #form textarea ::placeholder {
    font-size: 4vw;
  }
  #form button {
    font-size: 4vw;
    width: 20vw;
  }
}
@media only screen and (max-width: 399px) {
  #form {
    margin: 0%;
  }
  #form h2 {
    font-size: 6.5vw;
  }
  #form input {
    font-size: 6vw;
  }
  #form input ::-moz-placeholder {
    font-size: 6vw;
  }
  #form input :-ms-input-placeholder {
    font-size: 6vw;
  }
  #form input ::placeholder {
    font-size: 6vw;
  }
  #form textarea {
    font-size: 6vw;
    height: 65vh;
  }
  #form textarea ::-moz-placeholder {
    font-size: 6vw;
  }
  #form textarea :-ms-input-placeholder {
    font-size: 6vw;
  }
  #form textarea ::placeholder {
    font-size: 6vw;
  }
  #form button {
    font-size: 6vw;
    width: 25vw;
  }
}/*# sourceMappingURL=style.css.map */